.gmpAddNewMapButton {     float: right;     margin: 1px 4px;   }
.gmpBpopup {
    top: 100px !important;
    display: none;
    min-width: 600px;
    min-height: 600px;
    border: 1px solid #edeff4;
    border-radius: 12px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 26px 15px rgba(255, 255, 255, 0.79);
}
.gmpClosePopup {   display: block;     float: right;     margin: -16px !important;  }
.nav.nav-tabs li a {   display: block;     line-height: 15px;  }
.gmpNewMapContainer {   margin: 20px auto;     width: 890px;     border: 1px solid;     height: 500px; }
.gmpOptsCon{   display:none; }
#AddMArkerToMap {     float: right; }
.right{     float:right !important; }
.gmpForm { padding: 6px 6px 6px 0; }
.gmpFormRow {
    clear: both;
    float: left;
    width: 100%;
    margin: 8px auto;
    border-bottom: 1px solid #edeff4;
    padding-bottom: 5px;
}
.gmpFormRow label {
    display: block;
    float: left;
    width: auto;
    font-size: 15px;
    font-size: 13px !important;
}
.gmpFormRow input[type='text'],.gmpFormRow textarea,.gmpFormRow input,.gmpFormRow select,.gmpFormRow textarea{
    float: right;
}
.gmpInputLarge{
    width: 214px !important;
    margin-right: 5px !important;
}
.gmpFormRow textarea{
    height: 50px;
    width: 250px;
}
.gmpFormRow.gmpBtnGroup {
    float: none;
    margin: 0 auto;
    border:none;
}

.gmpMapHelpers{
    float: right;
    width: 300px;
    margin-right: 14px;
    min-height: 40px;
    font-style: italic;
    color: black;
}
.gmpMapHelpers li{
    display:none;
}
.gmpNewMapAct.opened {
    border-bottom: 4px solid gray;
}
.gmpInputSmall{
    width:95px !important;   
}
.gmplft{
    float:left;
}
.gmprgh{
    float:right;   
}
.gmpSaveNewMap {
    float: right;
    width: 141px;
    margin-bottom: 10px;
}
.gmp_nmap{
   min-height: 500px;
}
.gmpExistsMapActions a{
   height:32px;
  
}
.gmpMapEditBtn{
    text-align: right !important;
}

.gmpMapEditBtn:hover,.gmpMapEditBtn:focus,.gmpMapEditBtn:active,.gmpMapEditBtn.active{  
   color:#ffffff;
   background-color:#ed9c28 !important;
   border-color:#d58512;
}
.gmpMapRemoveBtn:hover,.gmpMapRemoveBtn:focus,.gmpMapRemoveBtn:active,.gmpMapRemoveBtn.active{  
    color:#ffffff;
    background-color:#d2322d !important;
    border-color:#ac2925;
}

a{
    cursor:pointer;
}
.gmpMItem {
    padding: 5px;
}
.gmpMapRemoveBtn{
    text-align: right !important;
}
.gmpNewMapContent {
    float: left;
    width: 100%;
    margin-top: 34px;
}

/*
*reconstruct
*/
#gmpAddNewMap {
    float: left;
    padding: 0 10px;
    background-color: white;
    width:100%;
}
.gmpNewMapOptsList li {
    display: block;
    float: left;
    margin: 0 5px;
}
.gmpNewMapOptsList {
    float: left;
}
.newMapForm .gmpFormRow label{
    width:auto;
}
.gmpFormLabel {
    float: left;
    display: block;
}
.gmpNewMapForms {
    clear:both;
    float: left;
    width:100%;
}
.newMapForm{
    float: left;
    margin-bottom: 20px;
}
.newMapForm.gmpMapProperties{
    width:273px;
}
/*
    TEMP
*/
.newMapForm{
}

.gmpIconItem {
    float: left;
    width: 21px;
    margin: 4px;
    text-align:center;
}
.gmpIconPreview {
    width: 20px;
    display: block;
    margin-bottom:1px;
}
.gmpIconsPreviewFCH {
    width: 310px;
    background-color: #edeff4;
    float: left;
    border-radius: 5px;
    padding: 5px;
    max-height: 200px;
    overflow: auto;
    min-height: 100px;
}
.gmpMarkericonOptions {
  
}
.markerOptsCon {
    float: left;
    width:100%;
}
.imgFileCon {
    float: left;
    height: 33px;
}
.gmpFileUpRes {
    float: right;
    width: 190px;
    text-align: right;
}
.gmpUplBtn {
    float: left;
}
.gmlLoadFrom {
    width: 312px;
}
.gmpDownloadUrlCon {
    float: left;
}
.downloadFileResp {
    float: right;
    width: 96px;
    height: 25px;
    line-height: 26px;
}#gmpIconUrlToDown {
    float: left;
}
#gmpDownloadIconFormUrl{
    float:left;
    padding: 3px 7px;
}
.gmpMapContainer {
    float: right;
    width: 63%;
    border: 1px solid #C0C5D1;
    margin: 0 0 0 8px;
    padding: 0;
}
#gmpAddNewMapForm{
    float:left;width:100%;
}
.gmpRadioBr{
    clear:both;
}
.gmpLoadMap {
    float: left;
}
.gmpNewMapPreview {
    float: left;
    width: 100%;
    height: 430px;
}
#newMapSubmitBtn {
    margin-top: -41px;
    position: absolute;
    right: 34px;
}
#gmpNewMapMsg {
    float: right;
    width: 28px;
    height: 28px;
    margin: -30px -39px 0 4px;
}
.gmpMapOptionsTab {
    float: left;
    margin: -10px 0 10px -10px;
}
.gmpPre{
    clear:both;
    margin: 10px 0 0 10px;
    min-height: 60px;
    padding: 0 3px 2px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.gmpNewMapShortcodePreview{
    display:none;
}
.gmpTable{
    margin-bottom: 10px;
}
.gmpTableThMini{
   width: 50px;
}
.gmpTableThSmall {
    width: 80px;
}
.gmpTableThLarge{
    width:200px;
}
.gmpTableThMax{
    width:300px;
}
#gmpAddressLoader {
    display: block;
    float: right;
    width: 25px;
    height: 25px;
}
.gmpAutocompleteArrow {
    display: block !important;
    float: left;
    height: 29px !important;
    width: 28px !important;
    margin: -1px 9px 0 -5px !important;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    padding: 0 31px 0 0 !important;
}
.gmpDown{
    background-image: url(../img/arrow-down.png) !important;
}
.gmpUp{
        background-image: url(../img/arrow-up.png) !important;
}        
.gmpAddressAutocomplete {
    z-index: 9999;
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 29px;
    width: 287px;
    overflow-y: auto;
    border-bottom: 1px solid #2956A7;
    border-right: 1px solid #2956A7;
    border-left: 1px solid #2956A7;
    max-height: 250px;
}
.gmpAddressAutocomplete li {
    display: block;
    padding: 5px 0 7px 7px;
    cursor: pointer;
    border-bottom: 1px solid rgb(175, 173, 192);
    border-radius: 0px;
    margin: 0;
}
.gmpAddressAutocomplete ul{
    margin:0;
}
.gmpAddressAutocomplete li:hover {
    background-color: rgba(41, 86, 167, 0.96);
    color: white;
    border:1px solid white;
}
.gmpEditMarkerOpts{
    display:none;
}
.tab-pane{
    display:none;
}
.tab-pane.active{
    display:block;
}
.gmpNewMapTabs {
    float:left;
    width:330px;
}
.gmpNewMapOptsTab li.active>a {
    color:white !important;
    background-color: #428bca !important;
}
.gmpNewMapOptsTab a{
    background-repeat: no-repeat;
    background-position: left center;    
}


#gmpAdminOptionsTabs li>a{
    background-color:#F1F1F1;
    border: 1px solid skyblue;
    border-bottom: none;
}
#gmpAdminOptionsTabs .tab-pane {
    padding-top: 25px;
    background-color:#E5EAF5;
    float: left;
    width: 100%;
}
#gmpAdminOptionsTabs li.active>a{
    background-color:#E5EAF5;
    border: 1px solid #285e8e;
    border-bottom: none;
}
.gmpMapsTableListLoading{
    background:url(../img/ajax-loaderBIG.gif) center no-repeat ;
    width: 100%;
    min-height: 500px;
}
div.refreshMapsList {
    float: right;
    margin: 5px 0;
}
#gmpHideNewMapPreview{
    margin:5px 0;
}#gmpSaveNewMap {
    float: right;
}
.gmpMapOperationsMessages {
    width: 410px;
    float: left;
}

#newMapSubmitBtn {
    margin-top: -41px;
    position: absolute;
    right: 34px;
    width: auto;
}
.btn.paginate_button{
  
}
.gmpMTablecon {
    clear: both;
}
.dataTables_wrapper {
    clear: both;
}#GmpTableGroups {
    width: 100%;
}
/*
    datatable buttons paging
*/
.paging_full_numbers a{
    display: inline-block;
    margin:0 5px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.paging_full_numbers a:hover{
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.paging_full_numbers a.paginate_button_disabled{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    background:none;
    color:gray;
}
.paging_full_numbers a.paginate_active{
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    
}
.gmpExistsMapOperations {
    float: left;
    margin-top: -13px;
    width: 488px;
}
.gmpNewMapOperations {
    float: left;
}
.editMapNameShowing{
    font-size: 15px;
    font-weight: bold;
    color: #31708f;
    float: left;
    min-width: 200px;
}
.gmpEditMaps {
    display: none !important;
}
#gmpSelectedIcon_msdd,#gmpSelectedIcon_edit_msdd,#gmpDropDownIconsSelect_MarkerEdit{
    width:100px !important;
}
.gmpListActBtn{
    
}
.gmpIcon{
    display: inline-block;
    width: 12px;
    height: 18px;
    margin-top: 1px;
    line-height: 19px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-left: -5px;
    margin-right: 3px;
}
.gmpIconEdit{
   background-image: url(../img/glyphicons-halflings-white.png) !important;
   background-position: -1px -69px;
}
.gmpIconRemove{
   background-image: url(../img/glyphicons-halflings-white.png) !important;
   background-position: -314px 2px;
}
.gmpIcongmpMarkerList{
       background-image: url(../img/glyphicons-halflings.png) !important;
      background-position: -26px -69px;
}
.gmpMarkerListsOPerations {
    float: right;
    margin: 2px 8px 5px 0;
}
.gmpIconRefresh{
      background-image: url(../img/glyphicons-halflings-white.png) !important;
      background-position: -241px -21px;
}
.gmpIconUpload{
    background-image: url(../img/glyphicons-halflings-white.png) !important;
    background-position: -289px -142px;
}
.gmpIconSuccess{
    background-image: url(../img/glyphicons-halflings-white.png) !important;
    background-position: -289px 1px;    
}
.gmpIconReset{
    background-image: url(../img/glyphicons-halflings-white.png) !important;
   background-position: -314px 1px;   
}
.gmpIcongmpMarkerGroups{
     background-image: url(../img/glyphicons-halflings.png) !important;
     background-position: -240px 1px;
}
.gmpIconAdd{
    background-image: url(../img/glyphicons-halflings-white.png) !important;
    background-position: -1px -94px;
}
.gmpIcongmpAddNewMap{
    background-image: url(../img/glyphicons-halflings.png) !important;
    background-position: -408px -94px;
}
.gmpIcongmpAllMaps{
    background-image: url(../img/glyphicons-halflings.png) !important;
    background-position: -337px -47px;
}
.gmpNewMapOptsTab li span.gmpIcon{
    background-image: url(../img/glyphicons-halflings.png) ;    
}
.gmpNewMapOptsTab li.active span.gmpIcon {
    background-image: url(../img/glyphicons-halflings-white.png) !important;        
}
.gmpIcongmpPluginSettings {
    background-image: url(../img/glyphicons-halflings.png) !important;
    background-position: -434px 1px;
}
.gmpIconSettings{
    background-position: -361px -143px;
}
.gmpIconMarker{
    background-position: -26px -69px;
}
.gmpMarkersTableContainer{
    float:left;
    width:100%;
    min-height: 350px;
}
.gmpMarkerEditForm .markerOptsCon {
    width: 338px;
}
.gmpMapForMarkerEdit {
    width: 58%;
    float: right;
    height: 450px;
    border: 1px solid;
}
.gmpMarkerEditForm {
    float: left;
    width: 100%;
}
.gmpMarkerEditformBtns{
    clear: both;
    width: 490px;
    margin-bottom:35px;
    text-align: center;
}
.gmpMarkerEditformBtns a,.gmpMarkerEditformBtns button{
    margin: 0 4px;
} 
#gmpUpdateMarkerItemMsg {
    clear: both;
    height: 25px;
    width: 250px;
    float: right;
}
.gmpMarkerTableaddress{
    width: 266px;   
}
#GmpTableGroups {
    width: 71%;
}
.thOperations{
    width:200px;
}
.gmpGroupForm {
    width: 400px;
}
.gmpGroupForm legend{
    text-align:center;
}
#gmpGroupOptsMsg {
    clear: both;
    min-height: 25px;
    min-width: 50px;
    float: right;
}
.gmpFormTitle {
    color: green;
    border-bottom: 1px solid;
    width: auto;
    padding: 0 6px;
    margin: 10px 5px 16px 5px;
}
.gmpMarkerTabledescContainer img {
    width: 83px;
}
.gmpMarkerTabledescContainer {
    width: 233px;
    overflow: hidden;
    height: 89px;
}
.gmpPluginSettingsFormContainer {
    float: left;
    width: 450px;
}
#gmpPluginSettingsForm {
    float: left;
    width: 400px;
    margin: 25px 5px;
}
#gmpGroupForm {
    width: 537px;
    margin: 0 auto;
}